<template>
  <table class="of-table">
    <caption v-if="currentSettings.showLocationName">
      {{
        forecast.location_name
      }}
    </caption>
    <tr v-for="(row, date) in forecast.entries" :key="date">
      <td>{{ date }}</td>
      <td>
        <svg
            class="of-icon"
            :style="{width: `${currentStyles.fontSize / 66.6666665}rem`, height: `${currentStyles.fontSize / 66.6666665}rem`}"
        >
          <use :xlink:href="`#${row.conditionCode}`"></use>
        </svg>
      </td>
      <td>{{ row.max.toFixed(0) }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ row.min.toFixed(0) }}&nbsp;&nbsp;{{ unit }}</td>
    </tr>
  </table>
</template>

<script>
module.exports = {
  name: "owm-forecast",
  props: {
    currentSettings: {
      Type: Object,
      required: true,
    },
    currentStyles: {
      type: Object,
      required: true,
    },
    records: {
      type: Array,
      required: false
    },
    language: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    backendUrl: {
      type: String,
      required: true
    },
    fetchAsset: {
      type: Function,
      required: true
    },
  },
  data: function () {
    return {
      midnight: null, // Set in forecast computed property
    }
  },
  computed: {
    formatter() {
      return new Intl.DateTimeFormat(this.language, {
        weekday: "short",
        day: "numeric",
        month: "numeric",
      });
    },
    forecast: function () {
      const record = this.records[0]; // TODO: Adapt once display app has “single-source” logic
      this.midnight = new Date().setHours(23, 59, 0, 0); // Set current midnight for filterToday
      const map = record.attributes.entries
          .filter(this.filterToday)
          .map(this.mapEntry)
          .reduce(function (map, entry) {
            const sameDay = map.get(entry.day);
            if (!sameDay) {
              map.set(
                  entry.day, {temps: [entry.temp], conditionCodes: [entry.conditionCode]}
              );
            } else {
              // If the key points to an object, Map.get returns a reference, which makes the object modifiable.
              sameDay.temps.push(entry.temp);
              sameDay.conditionCodes.push(entry.conditionCode);
            }
            return map;
          }, new Map())

      let final = {};
      for (let [day, entry] of map) {
        final[day] = {
          min: Math.min(...entry.temps),
          max: Math.max(...entry.temps),
          conditionCode: this.conditionMode(entry.conditionCodes)
        };
      }

      return {
        location_name: record.attributes.location_name,
        entries: final,
      };
    },
    unit: function () {
      return this.records[0].unit === "imperial" ? "°F" : "°C";
    }
  },
  methods: {
    /**
     * Checks if a forecast is dated at least after midnight.
     * @param {object} record  A GroupSchemas::OwmForecastEntry record
     * @param {object} record.forecast
     * @param {int} record.forecast.dt  The forecast timestamp, in seconds
     */
    filterToday: function (record) {
      return (
          (record.forecast.dt * 1000) > this.midnight
      );
    },
    /**
     * Maps an Openweathermap 5d/3h object to our required data structure.
     * @param {object} entry
     * @param {object} entry.forecast
     * @param {int} entry.forecast.dt
     * @param {object} entry.forecast.main
     * @param {int} entry.forecast.main.temp
     * @param {array} entry.forecast.weather
     * @returns {{min: *, max: *, day: string, conditionCode: *}}
     */
    mapEntry(entry) {
      return {
        day: this.formatter.format(entry.forecast.dt * 1000),
        temp: entry.forecast.main.temp,
        conditionCode: entry.forecast.weather[0].icon,
      }
    },
    /**
     * Sorts condition codes ascending by frequency and returns the last element.
     * @param {array<string>} conditions  OWM condition codes
     * @returns {string}  The array's mode (i.e. most frequent element)
     */
    conditionMode: function (conditions) {
      return conditions
          .sort(
              (a, b) =>
                  conditions.filter(v => v === a).length -
                  conditions.filter(v => v === b).length
          )
          .pop();
    }
  }
};
</script>
<style>
.of-table {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

.of-table caption {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.of-table td {
  text-align: right;
}

.of-table td:first-of-type {
  text-align: left;
}

.of-icon {
  vertical-align: middle;
}
</style>
