<template>
  <fieldset>
    <CheckboxBorderedLabel for="showLocationName" :text="t('show location name')">
      <input
          type="checkbox"
          name="showLocationName"
          id="showLocationName"
          :checked="currentSettings.showLocationName"
      />
    </CheckboxBorderedLabel>
  </fieldset>
</template>

<script>
module.exports = {
  name: "owm-forecast",
  props: {
    currentSettings: {
      type: Object,
      required: true,
    },
    debouncedAutocomplete: {
      type: Function,
      required: false
    }
  },
  locales: {
    deDe: {
      "show location name": "Ortsname anzeigen"
    },
    frFr: {
      "show location name": "afficher le nom de l'emplacement"
    },
    esEs: {
      "show location name": "mostrar el nombre de la ubicación"
    },
    plPl: {
      "show location name": "pokaż nazwę lokalizacji"
    },
    koKr: {
      "show location name": "위치 이름 표시"
    }
  }
};
</script>
<style>
</style>

